.ficha-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

h2 {
  color: #000000;
  font-size: 50px;
}

.ficha {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  text-align: center;
  background-color: #f4f4f4;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 4px 0px;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 5px;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #000000;
}


@media only screen and (max-width: 980px) {

  .ficha-container {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 15px;
  }

  .ficha {
    width: 80%;
    background-color: #f4f4f4;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 4px 0px;
    padding: 5px;
    margin-top: 5%;
    margin-bottom: 20px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
  }
}