
.box {
  border-radius: 10px;
  min-height: 115px;
  padding: 24px;
}

.box h4 {
  font-size: 14px;
  text-transform: uppercase;
}
.box h5 {
  display: none;
}

.box label {
  color: black;
  font-size: 24px;
}
.box span {
  display: none;
}

.yellow {
  color: #A67400;
  background-color: #FBF0D6;
}
.yellow svg{
  margin-right: 10px;
  margin-top: -5px;
}

.green {
  background-color: #E0EAFF;
  color: #0B3CA6;
}

.white {
  background-color: rgba(255,255,255,.8);
  color: #999;
}

.row {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .box {
    margin: 10px;
    min-height: fit-content;
    padding: 10px 24px;
  }
  .box h4 {
    display: none;
  }
  .box h5 {
    display: inline-block;
  }

  .ficha-container {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 15px;
  }

  .ficha {
    width: 80%;
    background-color: #f4f4f4;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 4px 0px;
    padding: 5px;
    margin-top: 5%;
    margin-bottom: 20px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
  }
}

.master-qty {
  position: relative;
}
.master-qty svg{
  position: absolute;
  fill: #888;
  left: 22px;
  top: 8px;
}