.btn-AceptarPago {
  margin-right: 30px;
  padding: 10px;
}

.btn-EditarPago {
  margin-left: 30px;
  padding: 10px;
}

.button {
  background-color: #008bbabb;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button:hover {
  background-color: #008bba;
}