.motivation-wrapper {
    padding-bottom: 50px;
    h3 {
        margin-bottom: 50px;
        text-align: center;
    }
    .mision-vision {
        margin-top: 50px;
        text-align: center;
        img {
            max-height: 240px;
        }
        p {
            margin-bottom: 50px;
        }
    }
    .values-text {
        margin-top: 7.5%;
    }
}
