.label-addClient {
  padding: 15px;
}

.button-addClient {
  background-color: #008bbabb;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button-addClient:hover {
  transition: 1s;
  background-color: #008bba;
}