html, body { height: 100%; background-color: lavenderblush; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


  /* Estilos para la etiqueta "video" con la calse (.video)  */
  .video{
    position: absolute;
    max-width: 300%;
    width: 100%;
   }

      /* media queries (personalizarlo a su antojo)*/
      @media(max-width: 900px){
        .video{
         width: 150%;
        }
       }
       @media(max-width: 650px){
        .video{
         width: 280%;
        }
       }
       @media(max-width: 480px){
        .video{ 
         width: 300%;
        }
       }

   .header {
    width: 100%;
    height: 650px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    color: rgb(255, 255, 255);
    text-align: center;
}

.header .textos {
  margin-top: 152px;
}

.header .titulo {
  font-size: 120px;
}

.header .subtitulo {
  font-size: 42px;
  font-weight: 300;
  margin-bottom: 32px;
}

#vid{
  position: absolute;
  top: 50%; 
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  min-width: 100%; 
  min-height: 100%; 
  width: auto; 
  height: auto;
  z-index: -1000; 
  overflow: hidden;
}