.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.login {
  padding: 250px 0;
}
input {
  padding: 8px 12px 8px 40px !important;
}

.button-container {
  display: flex;
  justify-content: space-around;
}

.btnVerde {
  background-color: #3c3d41 !important;
  border: 0 !important;
}

.btnRojo {
  margin-left: 10px;
}

.img-User {
  width: 50%;
  height: auto;
}

.left-login {
  text-align: center;
}

.left-login img {
  display: inline-block;
  margin-top: 15%;
}

.right-login {
  background-color: white;
  padding: 25px;
}

.right-login h2 {
  color: #3c3d41;
  font-size: 22px;
  margin-bottom: 18px;
}

@media only screen and (max-width: 600px) {
  .login {
    width: 100%;
  }
}

