.columnas-1 {
  display: flex;
  justify-content: row;
}

.columnas-2 {
  display: flex;
  justify-content: space-between;
}

.columnas-3 {
  display: flex;
  justify-content: space-around;
}

.container {
  margin-top: 20px;
}

.button-container {
  display: flex;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 30px;
  justify-content: center;
}
